.container {
    display: grid;
    grid-template: 20% 65% 15% / 25% 50% 25%;
}

header {
    background-color: white;
    grid-area: 1 / 1 / span 1 / span 3;
}

main {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 0px 15px 30px 20px;
}

footer {
    grid-area: 3 / 1 / span 1 / span 3;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.list-adj {
    text-align: center;
    font-style: italic;
}