.container {
    display: grid;
    grid-template: 20% auto 15% / 25% auto 25%;
}

main {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 0px 15px 30px 20px;
    border: 2px solid white;
    margin-bottom: 3em;
}

footer {
    grid-area: 3 / 1 / span 1 / span 3;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.list-adj {
    text-align: center;
    font-style: italic;
}